@utility baseFontFamily {
  font-family: 'Geist';
}

@utility codeFont {
  font-family: 'GeistMono';
}

@utility interFont {
  font-family: 'InterVariable';
}

@utility lwkFont {
  font-family: 'LXGWWenKai';
}

@utility flex-center {
  @apply flex items-center justify-center
}